
h1 {
  text-align: center;
}



table {
    border-collapse: collapse;
    border: 2px solid #000;
    width: 100%;
}

thead {
    background-color: #000;
    color: #fff;
}


th, td {
    text-align: center;
    padding: 4px;
    
}

td {
  padding: 10px;
}

td {
  background-color: aqua;
}